<mat-toolbar>
    <!-- <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>groups</mat-icon>
        </button>
    </div> -->
    <span>Personal Network Discipline</span>

    <!-- <span class="example-spacer"></span> -->

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
</mat-toolbar>

<app-overall-purpose></app-overall-purpose>

<router-outlet></router-outlet>