<h1>{{title}}</h1>

<p>
    The purpose of personal network yoga discipline is to help you earn more wealth, finish more work, and feel genuinely more peaceful happy accomplished and sexy.
</p>

<p>
    This discipline will also help you defeat your enemies, and destroy their ill intents.
</p>

<p>
    And it will help you build better friendships and deeper relationships.
</p>

<p>
    You can look at any number of these 10,000 specific examples to see how the personal network yoga discipline works. Of course, the best way to see how this discipline works is to start using it yourself, and evalutate it's impact in your own life.
</p>

<p>
    If this discipline does not fulfill it's stated purpose for you, or even if it does, we are comitted to giving you a full refund at any time you request.
</p>

<p>
    Other than a full refund policy, this discipline app is also committed to never sending you any notification ever. Yes we are that confident that you will use it without being constantly obsessively reminded of it. Or you won't use it, which is fine.
    This is a yoga discipline app, not a social media dopamine drug app that is unsatiably greedy and hungry for your attention.
</p>

<p>
    This app is entirely standalone, private, and personal. There is no following or follower feature on this app. In fact, you will more benefit from the personal network yoga discipline app if you do not even tell nobody that you use it. Also, there will
    never be any data permissions that this app will need, like access to your photos, or contacts, etcetera.
</p>

<p>
    Our ideal customer places more value on their genuine personal growth, as stated in the purpose & promise section above, and places less value on their public image, as stated in the problem section below.
</p>

<p>
    item
</p>

<p>
    item
</p>

<p>
    item
</p>

<p>
    item
</p>

<p>
    item
</p>

<router-outlet></router-outlet>